---
import Layout from '../components/Layout.astro'
import Hero from '../components/Hero.astro'
---

<Layout>
<Hero />
	<div class="flex-col md:flex-row gap-5 mt-5">
		<div class="text-center p-5 flex-1 mind-w-0">
			<h2 class="text-4xl">Discover the Joy of Journaling</h2>
			<br>
			<p>In the quiet moments of your day, Warm Journal is here to be your companion. It's more than just a journal; it's a sanctuary where your thoughts, dreams, and reflections find a home. Here, every word you write is a step towards self-discovery and inner peace.</p>
	</div>
		<div class="flex-1 mind-w-0">
			<img src="../../public/workspace.jpg" alt="workspace with computer and journal">
		</div>
		</div>
	</div>	
</Layout>
