---
// Import statements if needed
import Layout from "../components/Layout.astro";
---

<Layout>
	<div class="p-4 h-screen flex justify-center">
		<div class="w-5/6 mt-24">
			<h2 class="text-2xl font-bold mb-4">Create/Edit Post</h2>
			<form class="bg-base-200 p-4 rounded-box">
				<!-- Title Field -->
				<div class="form-control mb-4">
					<label class="label" for="title">
						<span class="label-text">Title</span>
					</label>
					<input
						type="text"
						id="title"
						name="title"
						class="input input-bordered"
						required
					/>
				</div>

				<!-- Content Field -->
				<div class="form-control mb-4">
					<label class="label" for="content">
						<span class="label-text">Content</span>
					</label>
					<textarea
						id="content"
						name="content"
						class="textarea textarea-bordered h-40"
						required></textarea>
				</div>

				<!-- Privacy Toggle -->
				<div class="form-control mb-4 flex items-center justify-start">
					<label class="label cursor-pointer flex items-center">
						<span class="label-text mr-2">Make Post Public</span>
						<input
							type="checkbox"
							class="toggle toggle-primary"
							name="is_public"
						/>
					</label>
				</div>

				<!-- Submit Button -->
				<div class="form-control">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</Layout>
