<div class="carousel w-full">
  <!-- Item 1: Enhances Self-Awareness -->
  <div id="item1" class="carousel-item w-full bg-orange-100 p-10 flex justify-center items-center">
    <div class="text-center">
      <h3 class="text-lg font-bold text-rose-900 mb-3">Enhances Self-Awareness</h3>
      <p>Journaling acts as a mirror, reflecting your inner world. By regularly writing down your thoughts and feelings, you gain deeper insights into your desires, fears, and beliefs, leading to greater
self-understanding.</p>
</div>

  </div>
  <!-- Item 2: Boosts Mental Well-being -->
  <div id="item2" class="carousel-item w-full bg-orange-100 p-10 flex justify-center items-center">
    <div class="text-center">
      <h3 class="text-lg font-bold text-rose-900 mb-3">Boosts Mental Well-being</h3>
      <p>It's a therapeutic tool for mental health. Journaling provides an outlet for expressing emotions, helping to process and manage stress, anxiety, and depression.</p>
    </div>
  </div>
  <!-- Item 3: Improves Memory and Comprehension -->
  <div id="item3" class="carousel-item w-full bg-orange-100 p-10 flex justify-center items-center">
    <div class="text-center">
      <h3 class="text-lg font-bold text-rose-900 mb-3">Improves Memory and Comprehension</h3>
      <p>Writing by hand boosts cognitive functions. The act of writing engages the brain, enhancing your ability to remember and understand complex ideas.</p>
    </div>
  </div>
  <!-- Item 4: Fosters Creativity -->
  <div id="item4" class="carousel-item w-full bg-orange-100 p-10 flex justify-center items-center">
    <div class="text-center">
      <h3 class="text-lg font-bold text-rose-900 mb-3">Fosters Creativity</h3>
      <p>It's a playground for your imagination. Journaling without constraints allows your creativity to flourish, sparking new ideas and innovative solutions.</p>
    </div>
  </div>
  <!-- Item 5: Strengthens Communication Skills -->
  <div id="item5" class="carousel-item w-full bg-orange-100 p-10 flex justify-center items-center">
    <div class="text-center">
      <h3 class="text-lg font-bold text-rose-900 mb-3">Strengthens Communication Skills</h3>
      <p>Regular writing sharpens language skills. As you articulate your thoughts on paper, you develop clarity and eloquence in your communication.</p>
    </div>
  </div>
  <!-- Item 6: Achieves Goals -->
  <div id="item6" class="carousel-item w-full bg-orange-100 p-10 flex justify-center items-center">
    <div class="text-center">
      <h3 class="text-lg font-bold text-rose-900 mb-3">Achieves Goals</h3>
      <p>It's a roadmap to your aspirations. Writing down goals and tracking progress keeps you accountable and motivated, turning dreams into reality.</p>
    </div>
  </div>
  <!-- Item 7: Preserves Memories -->
  <div id="item7" class="carousel-item w-full bg-orange-100 p-10 flex justify-center items-center">
    <div class="text-center">
      <h3 class="text-lg font-bold text-rose-900 mb-3">Preserves Memories</h3>
      <p>It's a personal archive of your life journey. Journaling captures life's moments, big and small, creating a treasure trove of memories to look back on.</p>
    </div>
  </div>
  <!-- Carousel Navigation -->
  <div class="flex justify-center w-full py-2 gap-2">
    <a href="#item1" class="btn btn-xs btn-accent">1</a>
    <a href="#item2" class="btn btn-xs btn-accent">2</a>
    <a href="#item3" class="btn btn-xs btn-accent">3</a>
    <a href="#item4" class="btn btn-xs btn-accent">4</a>
    <a href="#item5" class="btn btn-xs btn-accent">5</a>
    <a href="#item6" class="btn btn-xs btn-accent">6</a>
		<a href="#item7" class="btn btn-xs btn-accent">7</a>

  </div>
</div>
