<div class="relative">
	<img src="../public/heroImg.jpg" alt="cozy journaling with cup of tea" class="max-w-full h-auto">
	<div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 flex items-center justify-center">
		<span class="text-white text-2xl md:text-5xl lg:text-6xl">A cozy place to leave your thoughts.</span>
	</div>

</div>
